<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free restaurant catalogue for you" />
    <meta name="theme-color" content="#db0000" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="icon" href="favicon.png" />
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
  <title>Restaurant Apps</title>
</head>
<body>
  <a href="#mainContent" class="skip-link">Menuju ke konten</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
<nav id="navigationDrawer" class="app-bar__navigation">
  <ul>
    <button id="menu" class="header__menu" aria-label="drawer_menu" href="">☰</button>
    <div class="menu-bar">
      <ul class="list-menu">
        <li class="nav-item"><a href="index.html">Home</a></li>
        <li class="nav-item"><a href="#favorite">Favorite</a></li>
        <li class="nav-item"><a href="https://www.linkedin.com/in/resti-karunia-mukti-511b5521a/" target="_blank"  rel="noreferrer">About Us</a></li>
        <div class="hero">
            <div class="hero_inner">
              <h1 class="title">RESTAURANT FINDING</h1>
              <p class="tagline">please find us, if you feel hungry! visit and try it!!</p>
            </div>
          </div>
      
          <main id="mainContent" tabindex="0"></main>
          <footer>
            <p>Copyright &#169; 2022 RESTAURANT FINDING</p>
          </footer>
        </body>
      </html>